@import "~bootstrap/dist/css/bootstrap.css";

/*font-family: 'Lato', sans-serif;  font-family: font-family: 'Chewy', cursive; */
header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #86888a;
}

#header-container {
  position: relative;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #86888a;
}

#title-fantasy {
  top: 12px;
  float: left;
}

#background-index {
  background-image: url("./backgrounds/book.png");
}

.title {
  position: relative;
  font-family: 'Chewy', cursive;
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 20px;
}

#container-right {
  position: relative;
  top: 8px;
  float: right;
}

.link .link-last {
  position: relative;
  font-family: 'Chewy', cursive;
  font-size: 15px;
  margin-bottom: 20px;
  margin-right: 8px;
  display: inline-block;
  color: white;
}
.link-last {
    margin-right: 0px;
  }
footer {
  position: relative;
  width: 100%;
  background-color: #86888a;
}

#footer-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  background-color: #86888a;
}

.footer-column {
  position: relative;
  width: 360px;
  margin-right: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-column-last {
  margin-right: 0px;
}

.picture-footer {
  position: relative;
  width: 140px;
  height: 140px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  background-image: url(./assets/picture-footer.jpg);
  border-radius: 50%;
}


@media (max-width: 575px) {

  #header-container .icon {
    display: none;
  }
}


@media (min-width: 576px) {

  #header-container,
  #footer-container {
    width: 576px;
  }
}

@media (min-width: 768px) {

  #header-container,
  #footer-container {
    width: 768px;
  }
}


@media (min-width: 1200px) {

  #header-container,
  #footer-container {
    width: 1200px;
  }
}

.screen
{
	position: relative;
	width: 100%;
	height: 800px;
}

#screen-1
{
	background-color: rgb(206,209,214);
}

.screen-container
{
	position: relative;
	width: 1200px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
}

.screen-text-body
{
	position: relative;
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 20px;
}

.screen-text-button
{
	position: relative;
	display: inline-block;
	padding: 12px;
	border-style: solid;
    border-width: 2px;
	border-radius: 5px;
	border-color: #ffffff;
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}

.screen-text-container
{
	position: absolute;
	width: 360px;
	top: 50%;
	transform: translateY(-50%);
}

.screen-text-container-left
{
	left: 0px;
}

.screen-text-title
{
	position: relative;
	font-family: 'Chewy', cursive;
	color: #ffffff;
	font-size: 50px;
	line-height: 56px;
	margin-bottom: 18px;
}

.text
{
	position: relative;
	font-family: Arial;
	font-size: 14px;
	color: #cccccc;
	line-height: 20px;
	margin-bottom: 18px;
}
