{% extends "base.html" %}

{% block content %}
<form method="POST">
    <div class="col">
        <div class="row form-group">
            {{form.hidden_tag()}}
        </div>
        <div class="row">
            {{form.email.label}}{{form.email(class="form-control")}}
        </div>
        <div class="row">
            {{form.username.label}}{{form.username(class="form-control")}}
        </div>
        <div class="row">
            {{form.password.label}}{{form.password(class="form-control")}}
        </div>
        <div class="row">
            {{form.confirm.label}}{{form.confirm(class="form-control")}}
        </div>
        <div class="row">
            {{form.submit()}}
        </div>
    </div>
</form>
{% endblock %}
