{% extends "base.html" %}

{% block content %}
<form method="POST">
    <div class="col">
        <div class="row form-group">
            {{form.hidden_tag()}}
        </div>
        <div class="form-group">
            {{form.email.label(class="form-group")}}
            {{form.email(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.username.label(class="form-group")}}
            {{form.username(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.password.label(class="form-group")}}
            {{form.password(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.confirm.label(class="form-group")}}
            {{form.confirm(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.submit()}}
        </div>
    </div>
</form>
{% endblock %}